table.remanejamentos
{
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

table.remanejamentos thead
{}

table.remanejamentos thead tr
{
  text-align: left;
  display: flex;
  padding-bottom: .25rem;
}

table.remanejamentos thead tr th,
table.remanejamentos thead tr td
{ padding-left: .5rem; }

table.remanejamentos thead tr th:first-child,
table.remanejamentos thead tr td:first-child
{ width: 150px; }

table.remanejamentos thead tr th:not(:first-child),
table.remanejamentos thead tr td:not(:first-child)
{ flex: 1; }

table.remanejamentos tbody
{}

table.remanejamentos tbody tr
{
  display: flex;
  margin-bottom: .25rem;
}

table.remanejamentos tbody tr th,
table.remanejamentos tbody tr td
{
  border-top: 2px solid #FFF;
  display: flex;
  align-items: center;
}

table.remanejamentos tbody tr th:first-child,
table.remanejamentos tbody tr td:first-child
{
  width: 150px;
  padding: 10px;
  background-color: #FFF;
  font-weight: 600;
}

table.remanejamentos tbody tr th:not(:first-child),
table.remanejamentos tbody tr td:not(:first-child)
{
  flex: 1;
  padding-left: 1rem;
  font-weight: 400;
}
