div.stidocs-modal,
div.selecionados-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

div.stidocs-modal img.modal-content,
div.selecionados-modal img.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

div.stidocs-modal span.close,
div.selecionados-modal span.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #F1F1F1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

div.stidocs-modal span.close:hover,
div.stidocs-modal span.close:focus,
div.selecionados-modal span.close:hover,
div.selecionados-modal span.close:focus {
	color: #BBB;
	text-decoration: none;
	cursor: pointer;
}

div.stidocs-modal img.modal-content,
div.stidocs-modal div.caption,
div.selecionados-modal img.modal-content,
div.selecionados-modal div.caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@media screen and (max-width: 768px) {
	div.docs-modal img.modal-content {
		width: 95%;
		max-width: none;
	}
	
	div.docs-modal span.close {
		font-size: 60px;
	}
}